#login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(75, 64, 51, 0.874);
    border-radius: 8px;
    padding: 16px;
    box-shadow: rgba(75, 64, 51, 0.12) 0px 2px 4px 0px, rgba(75, 64, 51, 0.874) 0px 2px 16px 0px;

}

.loginButtons {
    display: flex;
    gap: 24px;
}

#loginError {
    font-size: 18px;
    line-height: 1.2;
    color: darkred;
    margin-bottom: 10px;
}


@media (max-width: 800px) {
    .loginContainer {
        width: 80%;

    }
}


@media (max-width: 400px) {
    .loginContainer {
        width: 100%;

    }
}